<section class="title center">{{ 'recentlyPlayedTracks.title' | $t }}</section>

<section class="page-content">
    <div *ngIf="!loading; else loadingTemplate">
        <ng-container *ngIf="groupedPlayedTracks.size > 0; else emptyList">
            <ng-container *ngFor="let playedTrackGroup of groupedPlayedTracks | keyvalue">
                <div class="mt-48 bold">{{ playedTrackGroup.key | date }}</div>
                <app-played-track *ngFor="let playedTrack of playedTrackGroup.value" [playedTrack]="playedTrack"/>
            </ng-container>
        </ng-container>
        <ng-template #emptyList>{{ 'recentlyPlayedTracks.empty' | $t }}</ng-template>
    </div>
    <ng-template #loadingTemplate>{{ 'loading' | $t }}</ng-template>
</section>